
<h2>Create a New User</h2>
<div id="create-form" style="width: 30rem">
<form action="/signup" method="POST">

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="username"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >User Name:</span>
    <input id="profile"
      type="text"
      name="username"
      autocomplete="off"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="email"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Email:</span>
    <input id="profile"
      type="text"
      name="email"
      autocomplete="off"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="password"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Password:</span>
    <input id="profile"
      type="password"
      name="password"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span id="etiqueta"
      for="nickname"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Nick Name:</span>
    <input id="profile"
      type="text"
      name="nickname"
      autocomplete="off"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span id="etiqueta"
      for="country"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Country:</span>
    <input id="profile"
    <input
      type="text"
      name="country"
      autocomplete="off"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div id="etiqueta">
    <button class="btn btn-outline-success">Crear</button>
  </div>

</form>

{{#if errorMessage}}
   <p>{{errorMessage}}</p>
{{/if}}

</div>