{{!-- <form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}
<h2>Create a New User</h2>
<div id="create-form">
<form action="/auth/signup" method="POST">

  <div class="input-group mb-3">
    <span
      for="username"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >User Name:</span>
    <input
      type="text"
      name="username"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="email"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Email:</span>
    <input
      type="text"
      name="email"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="password"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Password:</span>
    <input
      type="texts"
      name="password"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="nickname"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Nick Name:</span>
    <input
      type="text"
      name="nickname"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span
      for="country"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Country:</span>
    <input
      type="text"
      name="country"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div>
    <button class="btn btn-outline-success">Crear</button>
  </div>

</form>

{{#if errorMessage}}
   <p>{{errorMessage}}</p>
{{/if}}

</div>