/* font-family: 'Gideon Roman', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Smooch Sans', sans-serif; */


body {
  margin: 0px;
  background-repeat: no-repeat;
  background-size:cover; 
  background-image: url(../images/BG_Main.png);
  padding: 20px 50px 0px 50px;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-index img {
  border-radius: 10px;
}

.home_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  align-content: center;
}

.logo {
  padding-top: 10px;
  text-align:center;
}

#logo_only {
 padding-left: 10px;
 
}

#profile_logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-left: 150px;
}

.edit-wine-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.list-group  {

  color: rgb(23, 23, 24);
  border: 10px;

}
#sign_log {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;  
}

.cardWine {
  margin: 50px;
}

.allCards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.wine-view {
  max-width: 100%;
  height: auto;
}

#wine-image-card {
  padding-top: 10px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 10px;
}

.allComents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}


#create-form span {
  background-color: rgb(33, 37, 32);
  color: white;
  
}

#profile {
  background-color: rgb(33, 37, 32);
  color: white;

}

#profile2 {
  background-color: rgb(33, 37, 32);
  color: rgb(219, 53, 53);

}

.block {
  width:450px;
  margin:10px 50px;
  padding:20px;
  font-size:italic;
  background-color:#cfc;
  color:#000;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  }

/* styles Main */

#recommendations{
  padding-left: 180px;
  color:white;
  font-family: 'Lobster', cursive;
}

.Recommended-wines {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.wines1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#chacayes {
  width: 50px;
  height: 50px;
  padding: 20px;
}

#allan-scott{
margin-top: 20px
}

#margin-card{
  margin: 0px;
}

#etiqueta {
  width: 110px;
  text-align:center;
  
}

#x-button{
  height: 5%;
  width: 5%;
 
}

.edit-delete-wines {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: -50px;
}

#comment-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: normal;
  /* margin-top: 10px; */
  padding-right: 10px;
  margin-top: 15px;
  background-color: transparent;
  color: white;
}

#space {
  padding: 10px;
}