
<div class="main">
<div id="wines-recomend" >
    <h2>Recomended Wines</h2>

</div>

<div id="main">
<img src="./images/Image_Copa2.png" alt="Image" width="350px" height="300px">
</div>

<div>
    <h2>INTRODUCTION</h2>

</div>

</div>