<h2>hola</h2>

<nav>
    <a href="/wine/addWine">Add Wine</a>
    
    <a href="/wine/allWines">List Wines</a>
    
    <a href="/main/profile"> Profile</a>


</nav>
<div>

</div>
<div>

</div>
<div>

</div>

