
<div class="main">
<div id="wines-recomend" >
    <h2>Recomended Wines</h2>

</div>

<div id="main">
<img src="./images/Image_Copa2.png" alt="Image" width="350px" height="300px">
</div>

<div class= "cuadro">
    <h2>Welcome</h2>
    <article>
    <blockquote id="welcome">
      If you are interested in world wine, you’ve come to the right place. <br>
      . It was launched in February 2022 by developers Eduard Cabrero and Carlos Martinez 
      with the aim of spreading the word about the world of wines.<br> We focus on the diversity
      of lands, grape varieties and wine styles in the world, as well as on the
      people behind the wines. Lovewine covers both traditional, long-standing
      producers and the new generation of winegrowers and winemakers who are
      brilliantly reshaping the future of wines.<br> Lovewine is the gateway to
      find, learn and enjoy wine. To make things easier for you, the information
      we provide has been organized in three main areas: Find wine's worldwide.
      Our contributors based in different countries will help you discover the
      best places to enjoy wine. From Chile to Australia, through France, Germany, 
      Italy, South Africa, California and many other places.<br> Learn about wines. 
      This is our on-line magazine with news, trends… And you can also access our 
      database of: Tasting notes A database featuring all wines tasted and rated by 
      the lovEWine team with detailed information about each of them. And remember that you can
      search for any information at any time.<br> Just click on the search box at
      the top of the page if you want to search the entire site, use the
      specific search boxes for our different sections and, of course, we will
      be very happy to receive your suggestions and comments. <br> Subscribe to our
      weekly newsletter to get the latest updates and follow us on social media.
      To get in touch with us, just go to the <b>Contact section</b>.</blockquote>
  </article>
</div>

</div>