<h3>My Wines list</h3>

<<<<<<< HEAD


=======
>>>>>>> fdf4456738a83b077410d9f1b60a7b7dee8988cd
<div class="list-group">
<ul style="background: rgb(31, 30, 30)">
  {{#each allWines}}
  <li>
    <a class="list-group-item list-group-item-action" href="/wines/{{this.id}}" style="background-color: rgb(145, 138, 138)">{{this.name}}</a> 
</li>

{{/each}}
</ul>
</div>
<<<<<<< HEAD

=======
>>>>>>> fdf4456738a83b077410d9f1b60a7b7dee8988cd

